html{
    font-size: 16px;
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
}

.wrapper{
    background: #FAFAFA;
    width: 100%;
    min-height: calc(100vh-61px);
}

.el-card{
    flex: 1;
}

.container{
    width: 95%;
    max-width: 980px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

